#soporte{

	

	.tipo-cliente-field{
		> .lbl{
			vertical-align:super;
			margin-right:10px;
		}
		
		> .bootstrap-select{
			width: 100px;
		}
	}
	
	#edit_soporte_dialog{
		width: 800px !important;
		
		.form-field-divider{
		
			&.left{
				margin-right:10px;
			}
			
			&.down{
				width:100%;
				
				.form-field.detalles{
					width: 745px !important;
					height: 60px;
					
					> .input > textarea{
						width: 625px !important;
					}
				}
			}
			
			> .form-field{
			
				.lbl{
					width: 99px;
				}
		
				input, textarea, #id_prueba{
					width: 245px !important;
					margin-right: 0px;
				}
			}
		} 
		
		
	}
}